################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LunaEngine/Debug
/LunaEngine/LunaEngine/Debug
/LunaEngine/LunaEngine/x64/Debug
/LunaEngine/.vs/LunaEngine/v16
